[paths]
source =
   penelope
   scripts

[run]
omit =
    tests/*
    __init__.py
    */deprecated/*

branch = true
parallel = true

[report]
show_missing = true
precision = 2
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
