asttokens==2.4.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
bokeh==3.3.4 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
bqplot==0.12.42 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
certifi==2024.2.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
charset-normalizer==3.3.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
click==8.1.7 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
colorama==0.4.6 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0" and (sys_platform == "win32" or platform_system == "Windows")
comm==0.2.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
contourpy==1.2.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
decorator==5.1.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
et-xmlfile==1.1.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
executing==2.0.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
ftfy==6.1.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
gast==0.4.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
idna==3.6 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
ipycytoscape==1.3.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
ipydatagrid==1.2.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
ipyfilechooser==0.6.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
ipython==8.21.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
ipywidgets==8.1.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
jedi==0.19.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
jinja2==3.1.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
joblib==1.3.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
jupyter-bokeh==3.0.7 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
jupyterlab-widgets==3.0.10 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
loguru==0.7.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
lxml==5.1.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
markupsafe==2.1.5 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
matplotlib-inline==0.1.6 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
more-itertools==10.2.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
msgpack==1.0.7 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
networkx==3.2.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
nltk==3.8.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
numpy==1.26.4 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
openpyxl==3.1.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
packaging==23.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pandas==1.5.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
parso==0.8.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pexpect==4.9.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0" and sys_platform != "win32"
pillow==10.2.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
prompt-toolkit==3.0.43 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
ptyprocess==0.7.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0" and sys_platform != "win32"
pure-eval==0.2.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
py2vega==0.6.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pygments==2.17.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
python-dateutil==2.8.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
python-dotenv==1.0.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pytz==2024.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
pyyaml==6.0.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
regex==2023.12.25 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
requests==2.31.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
scipy==1.12.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
six==1.16.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
smart-open==6.4.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
spectate==1.0.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
stack-data==0.6.3 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
toml==0.10.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
tornado==6.4 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
tqdm==4.66.2 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
traitlets==5.14.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
traittypes==0.2.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
urllib3==2.2.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
wcwidth==0.2.13 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
widgetsnbextension==4.0.10 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
win32-setctime==1.1.0 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0" and sys_platform == "win32"
xyzservices==2023.10.1 ; python_version >= "3.11.dev0" and python_version < "3.12.dev0"
